

body{

   background: linear-gradient(to bottom right, white, #800020);
  
}

h1{
    font-weight: enable;
    text-align: center;
    
    font-family:  Lucida Sans Unicode, Helvetica, Arial, sans-serif;
    color: #FDE15E;
    background: linear-gradient(to right, #800020 , white);
}


p{
    font-size: 25px;
}

img {
    display: block;
    margin: auto;
    width: 40%;
}

h3{
    font-size: 25px;
}



a:visited{
    color: #A4A400;
}